body{
    background-color: cornflowerblue;
}

#titulo1{
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    font-style: oblique;
    text-transform: uppercase;
    text-align: center;

}

#titulo2{
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    text-transform: lowercase;
    text-align: right;
}

#titulo3{
    text-transform: capitalize;
    text-align: left;
    background-color: #0000FF;
}

.paragrafo_normal{
    text-indent: 40px;
    font-size: 18px;
    text-align: justify;
    color:brown;
    font-variant:small-caps;
}

.paragrafo_especial{
    font-size: 14px;
    text-align: left;
}

a{
    text-decoration: none;
}